# Copyright (c) 2026 Tano Karbou (github: karbou12 / X: @karbou_12)
# SPDX-License-Identifier: MIT

config ZMK_TRACKBALL_SHIFT
    bool
    default y
    depends on ZMK_POINTING
    depends on (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL)
    help
        Enable Trackball Shift for ZMK.
