/*
 * Copyright (c) 2026 Tano Karbou (github: karbou12 / X: @karbou_12)
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    /omit-if-no-ref/ zip_trackball_shift: zip_trackball_shift {
        compatible = "zmk,input-processor-trackball-shift";
        #input-processor-cells = <0>;

        direction-angle-degree = <45>;
        default-device-angle-degree = <0>;
        rotation-sample-time-ms = <3000>;
    };
};
